*{
  box-sizing: border-box;

}

body {
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #13293d;
  color: #fff;
  padding: 8px 20px;
}

h1{
  font-size: 6.5rem;
  margin: 0;
}

header nav ul {
  display: flex;
  background-color: #ff6a00;
  list-style: none;
  font-size: larger;
}

header nav ul li {
  margin-right: 10px;
}

header nav ul li a:hover{
  color: aquamarine;
}

main{
max-width: 88%;
margin-top: 20px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
}

section{
  display: flex;
  justify-content: space-between;
}

section h2 {
  background-color: #ff6a00;
  text-align: center;
  font-size: 3rem;
  flex: 0 0 20%;
}

section div{
  flex: 0 0 75%;
}

.description{
  display: flex;
}

.description img {
  height: auto;
  width: 20%;
  margin: 1rem;
}

/* Work section styling */


.projects {
display: flex;
flex: 0 0 85%;
flex-wrap: wrap;
padding: 20px;
}


.projects section img{
  width: 100%;
}
.projects section a{
  flex: 0 0 50%;
}
.projects section p {
  flex: 0 0 50%;
  padding: 20px;
}

/* end work section styling */

/* contact section */

.columns {
display: flex;

 }

.icons{
  text-align: center;
}

.icons img{
  width: 100px;

} 








