*{
  box-sizing: border-box;

}

body {
  line-height: 1.3;
  margin: 0;
  padding: 0;
  background-color: #555;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FE5D26;
  color: #FAEDCA;
  padding: 8px 20px;
}

h1{
  font-size: 6.5rem;
  margin: 0;
  padding-left: 40px;
}
a{
color: #FAEDCA;
}

header nav ul {
  display: flex;
  list-style: none;
  font-size: x-large;
  
}

header nav ul li {
  margin-right: 10px;
}

header nav ul li a:hover{
  color: aquamarine;
}

main{
max-width: 88%;
margin-top: 20px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
}
p{
  font-size: 25px;
  padding: 1rem;
}

section{
  display: flex;
  justify-content: space-between;
}

section h2 {
  background-color: #FE5D26;
  text-align: center;
  font-size: 3rem;
  flex: 0 0 20%;
}

section div{
  flex: 0 0 70%;
}

.description{
  display: flex;

}

.description img {
  padding: 1rem;
  width: 100%;
  max-width: 300px; 
  height: auto; 
  margin: auto; 
}

/* Work section styling */


.projects {
display: flex;
flex: 0 0 85%;
flex-wrap: wrap;
padding: 40px;
}


.projects section img{
  width: 100%;
}
.projects section div img{
  width: 100%;
}
.projects section div {
  width: 100%;
  flex: 0 0 100%;
}
.projects section a{
  flex: 0 0 80%;
}
.projects section p {
  flex: 0 0 50%;
  padding: 20px;
}
/* end work section styling */

/* contact section */

.columns {
display: flex;
flex-wrap: inline;
flex-direction:row;
flex: 0 0 45%;
align-items: center;
padding: 20px;

}

.columns section img{
  width: 50%;
}
.columns section a{
  flex: 0 0 50%;
}

.icons{
  text-align: center;
  flex: 0 0 50%;
}

.icons img{
  width: 100px;

} 


/* End contact section


*/





