* {
  box-sizing: border-box;
}

body {
  line-height: 1.3;
  margin: 0px;
  padding: 0;
  background-color: #555;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fe5d26;
  color: #faedca;
  padding: 8px 20px;
}

h1 {
  font-size: 6.5rem;
  margin: 0;
  padding-left: 40px;
  text-align: center;
}
a {
  color: #faedca;
}

header nav ul {
  display: flex;
  list-style: none;
  font-size: x-large;
}

header nav ul li {
  margin: 5px;
}

header nav ul li a:hover {
  color: aquamarine;
}

main {
  max-width: 88%;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 25px;
  padding: 1rem;
}

/* Work section styling */
section {
  display: flex;
  justify-content: space-between;

}

section h2 {
  background-color: #fe5d26;
  text-align: center;
  font-size: 3rem;
  flex: 0 0 25%;
}

section div {
  flex: 0 0 70%;
}

.description {
  display: flex;
}
.description p{
  background-color: #fe5d26;
}

.description img {
  padding: 1rem;

  max-width: 45%;
  height: auto;
  margin: auto;
}


.projects {
  display: flex;
  /* flex: 0 0 85%; */
  flex-wrap: wrap;
  padding: 40px;
}

.project {
  min-height: 420px;
  max-height: 490px;
  flex-basis: calc(50% - 1rem);
  margin: 3px;
  display: flex;
  flex-direction: column;
  max-height: 60%;
}
.project p {
  font-size: 20px;
  padding: 8px;
  background-color: #fe5d26;
}

.prework {
  flex-basis: 100%;
}

.projects section a {
 height: 200px;
}
.projects section a img {
  width: 100%;
  object-fit: cover
}

/* end work section styling */

/* contact section */

.columns {
  display: flex;
  align-items: center;
  padding: 20px;
}

.columns section img {
  width: 50%;
}
.columns section a {
  flex: 0 0 50%;
}

.icons {
  text-align: center;
  flex: 0 0 50%;
}

.icons img {
  width: 100px;
}

/* End contact section*/

@media screen and (max-width: 900px) {
  .aboutme,
  .description,
  .work,
  .projects,
  .contact,
  .titles,
  nav,
  ul,
  li,
  header {
    flex-direction: column;
  }
  .project{
    min-height: 200px;
  }
}
